body {
  margin: 0px;
  padding: 0px;
  margin: 0px auto;
  zoom: 1;
  font-size: 12px;
  line-height: 24px;
  font-family: Arial,"微软雅黑","宋体";
  color: #414446;
  overflow-x: hidden;
  width: 100%;
  min-width: 1366px;
  background: url(http://www.ksunsmt.com/cn/images/bodybg.jpg) repeat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
